@import url("./theme.css");

body {
  all: unset;

  min-block-size: 100vh;
  margin: 0;

  background-color: var(--page-bkg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
