@import url("./theme.css");
@import url("./typography.css");

:root {
  color-scheme: light dark;
}

body {
  all: unset;

  min-block-size: 100vh;
  margin: 0;

  color: var(--main-text-clr);

  background-color: var(--page-bkg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
