.Header {
  display: flex;
  flex-flow: row;

  place-content: stretch space-between;
  align-items: center;

  padding-block: 13px;
  padding-inline: min(4%, 50px);
  margin-block: 20px;

  @media (width < 680px) {
    flex-flow: column;

    padding-inline: 2px;
    margin: 0.5rem;
  }

  & > div {
    display: flex;
    flex-flow: row;
    column-gap: 20px;

    align-items: center;

    @media (width < 680px) {
      flex-flow: column-reverse;
    }

    & > a {
      inset-inline-start: 0;

      transform: translateY(-500rem);

      &:focus {
        transform: translateY(0);
      }
    }

    & > img {
      block-size: 2.5rem;
    }
  }
}
