.NavBar {
  display: flex;

  max-inline-size: 100%;

  & a {
    font-family: var(--navbar-font-family);
    font-size: var(--navbar-font-size);
    font-weight: var(--navbar-font-weight);
    color: var(--navbar-text-clr);
    text-decoration: none;

    &:global(.active) {
      font-weight: var(--navbar-active-font-weight);
    }

    &:focus-visible {
      border-radius: 0.5em;
      outline-offset: 0.5em;

      &:not(:global(.active)) {
        text-decoration: underline;
      }
    }

    &:hover:not(:global(.active)) {
      text-decoration: underline;
    }
  }

  & > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;

    place-content: stretch start;
    align-items: start;

    inline-size: fit-content;
    block-size: fit-content;
    padding-block: 0.8em;
    padding-inline: 1.5em;

    list-style-type: none;

    background: var(--navbar-bkg);
    border-radius: 2em;

    @media (width < 680px) {
      max-inline-size: 100%;
      overflow: scroll;
    }
  }
}
